{
  "ignore": ["*.min.js"],
  "compact": false,
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 Chrome versions"]
      }
    }],
    "react",
    "flow"],
  "plugins": [
    "transform-object-rest-spread",
    "transform-flow-comments",
    ["babel-plugin-transform-builtin-extend", {"globals": ["Error"]}]
  ]
}
